<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1048058683082-rphqv3jojjh8ljoo3otulqqanse1dpi0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1048058683082-rphqv3jojjh8ljoo3otulqqanse1dpi0</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1048058683082-0qbk398jkdpt7nbdlaa26abu1dnld9u8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyClH_8PBAy1sSv9eJqPUUIGmUttCaI2PEQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1048058683082</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ylc.admin</string>
	<key>PROJECT_ID</key>
	<string>ylc-app-ac883</string>
	<key>STORAGE_BUCKET</key>
	<string>ylc-app-ac883.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1048058683082:ios:7f7eb8b0f56f87d6891e33</string>
</dict>
</plist>